body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
.clear {
    clear: both;
}

a {
    text-decoration: underline;
    color: #08C;
}
a:hover {
    text-decoration: none;
}

html, body {
    padding: 0;
    margin: auto;
    width: 1000px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

header {
    background-image: -webkit-linear-gradient(bottom, rgb(171,171,171) 0%, rgb(186,186,186) 100%);
    height: 40px;
    width: 1000px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 2px #888;
}
header #login {
    width: 30%;
    float: right;
    color: #4d4d4d;
    font-size: 90%;
    height: 20px;
    margin-top: 7px;
    background-color: #cfcfcf;
    border-radius: 5px;
    border: solid 1px #999999;
    margin-right: 5px;
    padding-top: 5px;
    padding-left: 5px;
}
#railway {
    background-color: rgb(171,171,171);
    width: 20%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-weight: 200;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 2px #888;
}
#login-inner {
    font-weight: 200;
}
header #logo {
    width: 49%;
    float: left;
}
#head {
    font-size: 190%;
    font-weight: bold;
    color: #4d4d4d;
    text-shadow: -1px -1px #858585;
    padding-left: 5px;
    margin: 0;
}
#head-thin {
    font-weight: 200;
    text-shadow: none;
    font-size: 50%;
    margin-bottom: 10px;
}
footer {
    margin-top: 10px;
    padding: 10px;
    background-color: #cfcfcf;
    border-top: solid 1px #999999;
    border-bottom: solid 1px #999999;
    text-align: center;
    font-size: 50%;
}

p {
    font-size: 80%;
}
article {
    padding: 5px;
}
h2 {
    font-size: 150%;
}
#system-message {
    border-radius: 10px;
    background-color: #ff6969;
    padding: 6px;
    color: #850505;
}